.mobile__card_content {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #1E3654;
    width: 90%; //* 90% of the width of the parent
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;

    .mobile__card-picture {
        margin-top: -100px;
        border: 2px solid rgba(255, 255, 255, 0.26);
        background-color: #101b4e;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;

        .mobile__picture-profile {
            height: 200px;
            position: relative;
            top: 11px;
            left: 16px;
            transform: scale(2);
            -webkit-transform: scale(2);
            -moz-transform: scale(2);
            -ms-transform: scale(2);
            -o-transform: scale(2);
        }
    }

    .mobile__card-text {
        text-align: center;
        width: 90%;

        hr {
            border: 1px solid rgba(255, 255, 255, 0.548);
        }

        h1 {
            margin: 15px 0;
        }

        p {
            border-radius: 10px;
            padding: 20px;
            background-color: rgb(26, 44, 66);
            margin: 15px 0;
        }

        button {
            height: 40px;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 30px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            border-radius: 10px;
            border: 0px;
            font-weight: 700;
            background: #13C09E;
            box-shadow: 0px 0px 14px -7px #f09819;
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;

            &:hover {
                background-position: right center;
                color: #fff;
                text-decoration: none;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}

//! media queries
@media screen and (min-width: 1440px) {
    .mobile__card-text {
        p {
            font-size: 23px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .mobile__card-text {
        h1 {
            font-size: 18px;
        }

        p {
            font-size: 25px;
        }


        p {
            font-size: 25px;
        }
        
        button {
            font-size: 15px;
        }
    }

}

@media screen and (max-width: 1024px) {
    .mobile__card_content {
        width: 90%;
    }

    .mobile__card-text {
        h1 {
            font-size: 11px;
        }

        p {
            font-size: 20px;
            text-align: start;
        }

        button {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 768px) {
    .mobile__card-text {
        h1 {
            font-size: 5px;
        }

        p {
            font-size: 28px;
        }

        button {
            font-size: 20px;
        }
    }

}

@media screen and (max-width: 425px) {
    .mobile__card-text {
        h1 {
            font-size: 18px;
        }

        p {
            font-size: 25px;
        }
    }

}

@media screen and (max-width: 375px) {
    .mobile__card-text {
        p {
            font-size: 20px;
        }

        button {
            font-size: 15px;
        }
    }
}


@media screen and (max-width: 320px) {
    .mobile__card-text {
        h1 {
            font-size: 14px;
        }

        p {
            font-size: 15px;
        }
    }
}